# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
- task: NodeTool@0
  inputs:
    versionSpec: '12.x'
    checkLatest: true
- task: Npm@1
  inputs:
    command: 'install'
- task: CmdLine@2
  inputs:
    script: 'npm install -g appcenter-cli'
- task: CmdLine@2
  inputs:
    script: 'appcenter login --token $(userTK)'
- task: CmdLine@2
  inputs:
    script: 'sh upload.sh'